.netrc

# compiled output
/dist
/dist-test
/tmp
/cache
# dependencies
/node_modules
/bower_components/*
/deps*

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
.DS_Store
.idea
.vscode
Thumbs.db
/coverage/*
npm-debug.log
yarn-error.log
testem.log
lerna-debug.log

packages/gynzy-teacher/ci/sitemap/node_modules
packages/gynzy-teacher/ci/sitemap/library-sitemap-en.xml
packages/gynzy-teacher/ci/sitemap/library-sitemap-nl.xml

# don't ignore these
!.gitignore


.vercel
